*{ font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
              
    }
    
    header{
        margin: 47px 0px 0px 42px ;

    }

    .links-header {
       font-weight: 400;
       size: 14px;
       line-height: 21px;
       cursor: pointer;
       margin-right: 32px;
    }

    .button-header{
        line-height: 24px; ;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        width: 130px;
        height: 41;
        border-radius: 50px;
        background: #6FBF44;   
        border: none;
        cursor: pointer;
    } 
    
    .main-image{
        Width:534px;
        height:467px;
        display: inline-block;
        margin: 163px 0px 0px 123px;
    }
    
    .section{
        display: inline-block;
        margin-left: 85px;


    }
.h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161a49;
    margin-top: 242px;
}


.p{
   line-height: 33px;
   font-size: 18px;
   font-weight: 400;
   color: #4b505a;
   width: 493px;
   height: 99px;
   margin-top: 47px;
   margin-bottom: 55px;
}

.lm-button{
    color: #6FBF44;
    font-weight: 500;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
}
    